@using UI.Data.ViewModels
@model MetricViewModel

<h2>Metric Details</h2>
<table class="table">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>RequestId</th>
        <td>@Model.RequestId</td>
    </tr>
    <tr>
        <th>ServiceName</th>
        <td>@Model.ServiceName</td>
    </tr>
    <tr>
        <th>MetricName</th>
        <td>@Model.MetricName</td>
    </tr>
    <tr>
        <th>Value</th>
        <td>@Model.Value</td>
    </tr>
    <tr>
        <th>Timestamp</th>
        <td>@Model.Timestamp</td>
    </tr>
</table>