@using UI.Data.ViewModels
@model RequestViewModel

<h2>Request Details</h2>
<table class="table">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>RequestId</th>
        <td>@Model.RequestId</td>
    </tr>
    <tr>
        <th>ServiceName</th>
        <td>@Model.ServiceName</td>
    </tr>
    <tr>
        <th>Url</th>
        <td>@Model.Url</td>
    </tr>
    <tr>
        <th>Method</th>
        <td>@Model.Method</td>
    </tr>
    <tr>
        <th>Headers</th>
        <td>@Model.Headers</td>
    </tr>
    <tr>
        <th>Body</th>
        <td>@Model.Body</td>
    </tr>
    <tr>
        <th>Timestamp</th>
        <td>@Model.Timestamp</td>
    </tr>
</table>